/*Page Main*/

.page__main {
    margin: 0 0 0 260px;
    padding: 15px 30px;
    min-height: 700px;
    background: #f3f3f3;
  }
  
  .page__inner {
    background-color: #fff;
    padding: 30px;
  }
  
  .inner__header {
    margin-bottom: 30px;
  }
  
  .form__Contact {
    display: grid;
    /*grid-template-rows: repeat(4, 1fr);*/
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    grid-auto-rows: auto;
  }
  
  .form__group:last-child {
    margin-top: -30px;
    margin-bottom: -30px;
  }
  
  .form__group:nth-child(5) {
    grid-column: 1/-1;
  }
  
  .input__group {
    position: relative;
  }
  
  .icon.input-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: var(--dark-font-blue);
  }
  
  .input__group input {
    padding-right: 150px; /* Ajusta este valor según el tamaño del icono */
    width: 100%;
    border: 1px solid #e5e5e5;
    padding-left: 20px;
    box-shadow: none;
    border-radius: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.55);
    height: 60px;
  }
  
  .form__submit {
    display: inline-block;
    background-color: var(--dark-green);
    color: white;
    border: none;
    padding: 12px 24px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 30px;
  }
  
  /*Table*/
  .inner__table {
    margin-top: 60px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  th,
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #e6e6e6;
  }
  
  td a {
    margin-right: 10px;
  }
  
  