.hero__main {
  background-image: linear-gradient(
      0deg,
      rgba(37, 51, 99, 0.8),
      rgba(37, 51, 99, 0.8)
    ),
    url("../img/Tienda/TiendaHeader.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__main h2 {
  color: #fff;
  font-size: 48px;
}

/*Cabecer Styles*/

.table__container{
  border: 1px solid #ccc;
  border-radius: 2px;
}

.contenido-carrito {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-content: flex-start;
  gap: 2rem;
}

.cabeceras {
  font-size: 1.6rem;
  line-height: 2;
  box-sizing: inherit;
  transition: all 1.5s;
  animation: mostrarArriba 2s;
  display: grid;
  grid-template-columns: 10% 25% 25% 15% 10% 15%;
  text-align: center;
  border-bottom: 1px solid var(--primario);
  opacity: 1;
  border-bottom:  1px solid #ccc;
}

.checkout-button {
  line-height: 1.7em;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
  background-color: var(--dark-font-blue);
  color: #ffffff;
  transition: background-color 0.2s, color 0.2s;
  display: block;
  margin-top: 10px;
  padding: 14px 31px;
  font-size: 14px;
  text-align: center;
  width: auto;
}
.productos__container {
  width: 100%;
  margin-bottom: 20px;
}

.mensaje-carrito-vacio {
  display: none;
  opacity: 1;
  font-weight: bold;
}

.product-row {
  display: grid;
  grid-template-columns: 10% 25% 25% 15% 10% 15%;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;

  padding: 8px 0;

}

.product-img{
  height: 100%;
}
.product-img img {
  width: 100px;
  height: 100%;
  object-fit: cover;
}

.product__delete:hover {
  cursor: pointer;
}

.producto-carrito-pequenio {
  display: none;
}

.product-row .quantity {
  width: 50px;
  padding: 5px;
  text-align: center;
}

.product-row .subtotal {
  font-weight: bold;
}


/*Resultados*/

.resultado-carrito:nth-child(-n+2) {
  border-bottom: 1px solid #ccc;
}

.resultado-carrito{
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.resultado-carrito:nth-child(3) {
  font-weight: bold;
}


.contenedor-img-principal{
  display: none !important;
}
