/*Hero Main*/

.hero__main {
  /*max-width: 800px;*/
  background-image: linear-gradient(
      0deg,
      rgba(37, 51, 99, 0.7),
      rgba(37, 51, 99, 0.7)
    ),
    url("../img/index/indexhero.jpg");
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  --padding-container: 0;
  text-align: center;
}

.video__overlay{
  color: #fff;
}

.video__overlay h1{
  font-size: 48px;
  margin-bottom: 1.5em;
}

.video__overlay a{
  
  color: white;
    border: none;
    /*padding: 1.5rem 1.5rem;*/
    padding: 15px 50px 15px 50px;
    background-color: var(--dark-green);
    border-radius: 4px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}



.hero__video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.nav__social {
  display: none;
}

/*Our Tecnology*/

.subtitle {
  position: relative;
  text-align: center;
  color: var(--dark-font-blue);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
}




.OurTech__Paragraph {
  text-align: center;
  line-height: 1.6;
}

.OurTech{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.OurTech__row {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 70px;
  gap: 10px;
}

.image__container {
  width: 390px;
  height: 360px;
  padding: 2rem 1rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.5s ease-in-out;
}

.image__container:hover {
  transform: translateY(-20px);
}

.image__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(37, 51, 99, 1) 30%,
    rgba(0, 212, 255, 0) 100%
  );
  /*background: linear-gradient(to bottom,rgba(0,176,155,0.5),rgba(150,201,61,1));*/
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}

.image__container:hover:before {
  opacity: 1;
}

.OurTech__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.image__info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(-30px);
  transition: 0.5s all;
}

.image__container:hover .image__info {
  opacity: 1;
  transform: translateY(0px);
}

.image__info-title {
  margin: 0;
}

.image__info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.image__info-cta {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border-radius: 4px;
}

.image__info-cta:hover {
  box-shadow: 0px 7px 10px rgb (0, 0, 0, 0.5);
}

/* <!--Fácil Instalación-->*/


.instalation{
  display: flex;
  justify-content: center;
  align-items: center;
}

.instalation__article {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.instalation__figure{
  flex: 0 0 50%;
  max-width: 50%;
}


.instalation__video {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/*
.instalation__texts{
  grid-column:  2/-1;
  display: flex;
  flex-direction: column;
}*/

.instalation__subtitle {
  color: var(--dark-font-blue);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
}

.instalation__paragraph {
  line-height: 24px;
  margin-bottom: 25px;
}

.instalation__texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /*flex: 0 0 calc(50%);*/
  max-width: 500px;
}

.instalation__cta {
  display: inline-block;
  background-color: var(--dark-green);
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.instalation__cta:hover {
  background-color: #1c5c42;
}

/* <!--Proyectos-->*/

.projects {
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(37, 114, 81, 0.65),
      rgba(37, 114, 81, 0.65)
    ),
    url("../img/index/projectbackground.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
}


.projects__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
  height: 80%;
  --padding-container: 0 0;
}

.projects__body {
  display: flex;
  align-items: stretch;
  align-content: center;
  flex-wrap: wrap;
  flex: 1;
  height: 100%;
}

.projects__picture {
  flex: 0 0 50%;
  height: 100%;
}

.projects__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects__texts {
  flex: 0 0 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  height: 100%;
}

.projects__cta {
  display: inline-block;
  background-color: var(--dark-green);
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.projects__title {
  color: var(--dark-font-blue);
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
}

.projects__paragraph {
  line-height: 24px;
  margin-bottom: 25px;
  text-align: justify;
}

/*<!--Nosotros-->*/

.aboutUs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1056px;
  --padding-container: 120px 0;
}

.aboutUs__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*align-items: center;*/
  justify-content: space-between;
}

/*
.aboutUs__circle {
  position: absolute;
  bottom: -80x;
  left: -80px;
  width: 215px;
  height: 215px;
  background-color: green;
  border-radius: 50%;
  z-index: -1;
}*/

/*.aboutUs__figure::before{
    content:"";
    position: absolute;
    background-color: var(--dark-font-blue);
    width: 60%;
    max-width: 450px;
    bottom: 100px;
    top: 50%;
    left:  0;
    border-radius: 50%;
    z-index: -1;
}
*/

.aboutUs__texts {
  width: 50%;
  float: left;
}

.aboutUs__figure {
  position: relative;
  width: 40%;
}
/*
.aboutUs__figure {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: green;
  z-index: -1;
}*/

.aboutUs__img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.aboutUs__texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2em;
  flex-basis: 55%;
  padding: 0 2em;
}

.aboutUs__subtitle {
  font-size: 32px;
  font-weight: bold;
  color: var(--dark-font-blue);
}

.aboutUs__paragraph {
  line-height: 2;
  text-align: justify;
}

.aboutUs__cta {
  display: inline-block;
  background-color: var(--dark-green);
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

/*<!--Contáctenos-->*/

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #eef0f2;
  --padding-container: 30px 30px;
}

.map__container {
  flex: 1;
  margin-right: 20px;
}

.contact__map {
  width: 100%;
}

.contact__form-container {
  flex: 1;
}

.contact__title {
  font-size: 34px;
  margin-bottom: 20px;
  color: var(--dark-font-blue);
}

.contact__form {
  display: flex;
  flex-direction: column;
}

.form__group {
  margin-bottom: 20px;
  max-width: 100%;
}

label {
  font-weight: bold;
}

.form__input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form__input--message {

  width: 100%;
  max-width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: none;
  border-radius: 5px;
  appearance: none;
  font-size: 14px;
  color: rgba(0,0,0,.55); 
  height: 150px;
  resize: vertical;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.form__input--cta {
  display: inline-block;
  background-color: var(--dark-green);
  color: white;
  border: none;
  padding: 12px 24px;
  text-align: center;
  font-size: 16px;
  border-radius: 4px;
  font-weight: bold;
}

/*Medias Queries*/


/*Tablets*/
@media (max-width: 767px){

  /*Fácil Instalación*/

.instalation__figure{
  flex: 100%;
  max-width: 100%;
}


.instalation__subtitle {
  text-align: center;
}

.instalation__paragraph {
  text-align: center;
}

.instalation__texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

/*<!--Proyectos-->*/

.projects{
  margin-bottom: 60px;
}

.projects__picture,
.projects__texts {
  flex: auto;
}
.projects__texts {
  align-items: center;
}


.projects__paragraph {
  text-align: center;
}


/*<!--Nosotros-->*/

.aboutUs{
  display: none;
}


/*<!--Contáctenos-->*/

.contact {
  
  align-items: stretch;
}

.contact {
  flex-direction: column;
}

.map__container {
  margin-right: 0;
  order: 2;
}

.contact__form-container {
  order: 1;
}

}


/*Móvil*/
@media (max-width: 480px) {
  .projects__body {
    grid-template-columns: 1fr;
  }
}


