.modal-login {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-relative {
  position: relative;
}

.modal-content {
  background-color: #fefefe;
  max-width: 600px;
  display: flex;
  margin: 0 auto;
  margin-top: 5%;
}

.close {
  color: var(--dark-font-blue);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 3%;
  top: 0;
}

.modal-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-left img {
  max-width: 100%;
  height: auto;
  height: 100%;
  object-fit: cover;
}

.modal-right {
  flex: 1;
  padding: 20px 20px 20px 20px;
  height: 100%;
}

.modal-right p a {
  color: var(--dark-font-blue);
}

.modal-right h2 {
  font-size: 32px;
  margin-bottom: 2px;
  color: var(--dark-font-blue);
  font-weight: 1000;
  margin-top: 20px;
  text-align: center;
}

.modal-right h3 {
  margin-bottom: 20px;
  color: var(--grey-font);
  font-size: 16px;
  text-align: center;
}

.modal-right form {
  margin-bottom: 20px;
}

.form__recuperar {
  text-align: left;
  margin-bottom: 20px;
}

.form__recuperar a {
  color: var(--dark-font-blue);
}

.modal-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.terms {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.modal-right input[type="checkbox"] {
  margin-right: 8px;
}

.modal-right label {
  color: var(--dark-font-blue);
  font-weight: normal;
}

.modal-right a {
  color: var(--dark-font-blue);
  text-decoration: none;
  margin-left: 5px;
}

.submit__container {
  width: 100%;
}

.modal-right input[type="submit"] {
  padding: 10px 20px;
  border: none;
  background-color: var(--dark-font-blue);
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
}

.modal-right p {
  margin-bottom: 10px;
  color: var(--grey-font);
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  margin-right: 5px;
  color: #555;
  text-decoration: none;
  font-size: 24px;
}

.facebook-color {
  color: #3b5998; /* Color azul de Facebook */
}

.twitter-color {
  color: #1da1f2; /* Color celeste de Twitter */
}

.google-color {
  color: #ea4335; /* Color rojo de Google */
}

/*Segundo Modal*/

.modal-register .modal-content {
  background-color: #fefefe;
  max-width: 600px;
  display: flex;
  margin: 0 auto;
  margin-top: 5%;
}

.modal-register {
  display: none;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-relative .modal-right h2 {
  margin-top: 0px;
}

/*Camera*/

.contenedor-img-principal {
  --opacity: 0;
  --pointer: none;
  pointer-events: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  position: relative;
}

.contenedor-img-principal-hijo {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contedor-img {
  margin-top: 15px;
  box-sizing: border-box;
  width: 221px;
  height: 160px;
  background: transparent;
  border: 3px solid #c1c1c1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
}

.file-result {
  margin-top: 15px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  width: 221px;
  height: 160px;
  background-color: transparent;
  border-radius: 8px;
  transition: bacgroundColor 0.3s linear;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#txt-arrastre {
  opacity: 0;
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 114.7%;
  text-align: center;
}

#img-new {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cont-new-img {
  position: absolute;
  margin-top: 15px;
  box-sizing: border-box;
  width: 221px;
  height: 160px;
  background: white;
  border: 3px solid #c1c1c1;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.camara-btn {
  position: absolute;
  z-index: 10001;
  right: -8px;
  top: -5px;
}
.cam-container {
  margin-top: 15px;
  position: absolute;
  width: 221px;
  height: 160px;
  background-color: rgb(255, 255, 255);
  border: 3px solid #c1c1c1;
  border-radius: 10px;
  transition: bacgroundColor 0.3s linear;
  z-index: 0;
  overflow: hidden;
}

.container-btns-foto {
  position: absolute;
  top: 100%;
  opacity: 0;
  width: 200px;

  display: flex;
  justify-content: space-between;
  
}

@media (max-width: 767px) {
  .modal-left {
    display: none;
  }

  .modal-content {
    max-width: 300px;
  }
}


