.timeline-item {
    padding-left: 35px;
    position: relative;
}

.timeline-item:before{
    background-color: #3498db;
}

.timeline-item::before {
    border-radius: 100%;
    box-shadow: 0 0 0 2px #fff;
    height: 8px;
    left: 0;
    top: 4px;
    width: 8px;
    z-index: 1;
}

.timeline-item::after, .timeline-item::before {
    content: "";
    position: absolute;
}

*:before, *:after {
    box-sizing: border-box;
}