:root {
  --fuentePrincipal: "Inter", sans-serif;
  --fuenteBold: "Inter-bold", sans-serif;
  --fuenteExtraBold: "Inter-extrabold", sans-serif;
  --primario: #ebaa20;
  --secundario: #26010f;
  --terciario: #400118;
  --blanco: #ffffff;
  --negro: #000000;
  --sombraLibros: #70707080;
  --grisCategorias: #f0f0f0;
  --grisOscuro: #e8e8e8;
  --hover: #eb8220;
}

/*Navegacion*/
.barra-bg {
  background-color: var(--secundario);
}

.barra {
  height: 6rem;
  display: grid;
  grid-template-columns: auto 55.5% 10% 10%;
  justify-items: start;
  align-items: center;
}

.icono-barra {
  width: 3.2rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.busqueda {
  display: flex;
  height: 3.2rem;
  width: 95%;
  margin: 0 auto;
}

.busqueda__campo {
  border-radius: 5px 0 0 5px;
  border: none;
  position: relative;
  width: 100%;
}

.busqueda__campo::placeholder {
  font-size: 1.3rem;
  opacity: 0.6;
  position: absolute;
  top: 0.8rem;
  left: 1rem;
}

.busqueda__boton {
  background-color: var(--primario);
  border: none;
  border-radius: 0 5px 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
}

.busqueda__boton:hover {
  cursor: pointer;
  background-color: var(--hover);
  transition: all 0.3s;
}

.busqueda__lupa {
  width: 2rem;
}

.enlace__carrito {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 3.2rem;
  position: relative;
}

.enlace__carrito #carritoBarra {
  display: none;
}

.enlace__cuenta #divCerrarSesion {
  display: none;
  position: absolute;
  top: 75%;
  z-index: 1;
  background-color: white;
  padding: 1rem;
  min-width: 100px;
  border-top: 14px solid #26010f;
  border-radius: 5px;
}

.enlace__cuenta #divCerrarSesion div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.enlace__carrito:hover #carritoBarra {
  display: block;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1;
  background-color: white;
  padding: 2rem;
  min-height: 400px;
  min-width: 300px;
  border-top: 14px solid #26010f;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .enlace__carrito #carritoBarra {
    display: none;
  }

  .enlace__carrito:hover #carritoBarra {
    display: none;
  }
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #e1e1e1;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

.boton--carrito-barra {
  margin-top: 2rem;
  width: 100%;
}

.barra__carrito {
  position: relative;
}

.contador-carrito {
  font-size: 1rem;
  font-family: var(--fuenteExtraBold);
  padding: 1px 6px;
  background-color: var(--primario);
  border-radius: 50%;
  color: var(--blanco);
  position: absolute;
  left: 10px;
  top: 0;
}

.enlace__cuenta {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 3.2rem;
}

.barra__cuenta {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nombre-usuario {
  color: var(--blanco);
}

.barra__hamburguesa {
  display: none;
  height: 3.2rem;
}

.x-menu {
  width: 0;
  height: 0;
}

/*Navegador*/

.nav-bg {
  background-color: var(--terciario);
}

.navegacion {
  display: flex;
  justify-content: center;
  gap: 6.4rem;
}

.navegacion__enlace {
  color: var(--blanco);
  padding: 1.6rem 1.6rem;
  font-family: var(--fuenteBold);
}

.navegacion__enlace:hover {
  background-color: var(--primario);
  transition: all 0.3s;
  color: var(--negro);
}

@media (max-width: 1200px) {
  .nombre-usuario {
    display: none;
  }
}

@media (max-width: 768px) {
  .barra {
    grid-template-columns: 70% 10% 10% 10%;
  }

  .barra__hamburguesa {
    display: inline;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .nav-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    margin-top: 6rem;
    z-index: 2;
  }

  .navegacion {
    display: block;
  }

  .busqueda {
    margin-bottom: 2rem;
  }

  .navegacion:first-child {
    padding-top: 2rem;
  }

  .navegacion__enlace {
    display: block;
    text-align: center;
  }

  .nav-visible {
    height: 30rem;
    opacity: 1;
    transition: opacity 0.5s linear, height 0.5s linear;
    margin-top: 6rem;
    visibility: visible;
  }
}

@media (max-width: 480px) {
  .barra {
    grid-template-columns: 60% auto auto auto;
  }
}

/*Carrito*/
.contenido-carrito {
  padding: 0 2rem;
}

.cabeceras {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 10% 30% 20% 10% 20% 10%;
  text-align: center;
  border-bottom: 1px solid var(--primario);
}

.cabecera {
  font-family: var(--fuentePrincipal);
  font-weight: bold;
  font-size: 2.4rem;
  margin-bottom: 0;
}

.cabecera--mobile {
  display: none;
}

.cabecera:first-of-type {
  text-align: left;
}

.productos-carrito {
  border-bottom: 1px solid var(--primario);
}

.producto-carrito-tabla {
  display: grid;
  grid-template-columns: 10% 30% 20% 10% 20% 10%;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid var(--grisOscuro);
  padding: 1rem 0;
  font-size: 2.2rem;
}

.producto-carrito-tabla > p {
  margin-left: 1rem;
}

.producto-carrito__imagen img {
  width: 100%;
  height: 100%;
}

.producto-carrito__eliminar:hover {
  cursor: pointer;
}

.producto-carrito-pequenio {
  display: none;
}

.bg-resultados-carrito {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.resultados-carrito {
  width: 100%;
  border-bottom: 1px solid var(--negro);
}

.resultado-carrito {
  display: grid;
  grid-template-columns: auto 15%;
  column-gap: 5rem;
  align-items: center;
  justify-items: right;
  margin: 1rem;
  font-size: 2.2rem;
}

.resultado-carrito p {
  font-family: var(--fuentePrincipal);
  font-weight: bold;
}

.total-carrito {
  font-family: var(--fuentePrincipal);
  font-weight: bold;
  color: var(--primario);
}

.regalo-comprar {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
  column-gap: 2rem;
  font-family: var(--fuentePrincipal);
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 50px;
}

.definir-regalo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.definir-regalo p {
  margin: 0;
}

.fin-compra input {
  width: 100%;
}

@media (max-width: 960px) {
  .cabeceras {
    grid-template-columns: 10% 30% 20% 15% 20% 5%;
  }

  .producto-carrito-tabla {
    grid-template-columns: 10% 30% 20% 15% 20% 5%;
  }

  .resultado-carrito {
    display: grid;
    grid-template-columns: auto 30%;
  }
}

@media (max-width: 768px) {
  .cabeceras {
    display: none;
  }

  .cabecera--mobile {
    display: block;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--primario);
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 0;
  }

  .producto-carrito-pequenio {
    display: block;
  }

  .producto-carrito-tabla {
    display: none;
  }

  .producto-carrito-mobile {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .producto-carrito-mobile img {
    height: 18rem;
  }

  .producto-carrito-pequenio {
    border-bottom: 1px solid var(--grisOscuro);
  }

  .producto-carrito-mobile__detalles {
    display: flex;
    flex-direction: column;
  }

  .producto-carrito-mobile__detalles p {
    margin: 0;
    font-weight: 700;
    font-size: 2.2rem;
  }

  .producto-carrito-mobile__detalles p:first-of-type {
    font-family: var(--fuenteBold);
    font-weight: 800;
  }

  .producto-carrito__eliminar {
    height: 3.2rem;
    width: 3.2rem;
  }

  .producto-carrito__eliminar img {
    width: 100%;
    height: 100%;
  }

  .producto-carrito-mobile__detalles span {
    font-weight: 400;
  }

  .regalo-comprar {
    grid-template-rows: auto auto auto;
    row-gap: 1rem;
    text-align: center;
  }

  .definir-regalo {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .fin-compra {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  .continuar-compra {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }
}

@media (max-width: 480px) {
  .resultado-carrito {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 390px) {
  .producto-carrito__imagen {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  .producto-carrito-mobile__detalles {
    grid-row: 2 / 3;
  }

  .producto-carrito__imagen {
    text-align: center;
    height: 18rem;
    width: 35%;
    margin: 0 auto;
  }
  .producto-carrito__eliminar {
    grid-row: 2 / 3;
  }
}

.mensaje-carrito-vacio {
  text-align: center;
  font-size: 2.4rem;
  font-family: var(--fuenteBold);
  color: var(--terciario);
  margin: 8rem 0;
}


/*Fuentes*/

@font-face {
  font-family: 'Inter';
  src: url(../fuentes/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter-bold';
  src: url(../fuentes/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter-extrabold';
  src: url(../fuentes/Inter-VariableFont_slnt\,wght.ttf) format('truetype');
  font-weight: 800;
}

/*Variables*/

:root{
  --fuentePrincipal:'Inter', sans-serif;
  --fuenteBold:'Inter-bold', sans-serif;
  --fuenteExtraBold:'Inter-extrabold', sans-serif;
  --primario: #EBAA20;
  --secundario: #26010F;
  --terciario: #400118;
  --blanco: #FFFFFF;
  --negro: #000000;
  --sombraLibros: #70707080;
  --grisCategorias: #F0F0F0;
  --grisOscuro: #E8E8E8;
  --hover: #EB8220;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem = 10px*/
}

*, *:before, *:after {
  box-sizing: inherit;
}


body{
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.5;
  background-image: linear-gradient(to top, rgb(235 170 32 / 0.3) 0%, var(--blanco));
}

a{
  text-decoration: none;
  color: var(--negro);
}

h1,h2,h3,h4{
  font-family: var(--fuentePrincipal);
}

h1{
  font-size: 4.8rem;
}

h2{
  font-size: 4rem;
}

h3{
  font-size: 3.2rem;
}

h4{
  font-size: 2.8rem;
}

img{
  max-width: 100%;
}

video{
  width: 100%;
}


/*Utilidades*/

.contenedor{
  max-width: min(95%, 120rem);
  margin: 0 auto;
}

.no-margin{
  margin: 0;
}

.no-padding{
  padding: 0;
}

.centrar-texto{
  text-align: center;
}

.pagina{
  box-shadow: 0px 5px 15px 0px rgba(112, 112, 112, 0.478);
  background-color: var(--blanco);
  border-radius: 1rem;
  margin-top: 5rem;
}

.subtitulo{
  position: relative;
  font-family: var(--fuenteExtraBold);
}

.subtitulo::after{
  content: '';
  position: absolute;
  width: 12rem;
  height: 3px;
  background-color: var(--primario);
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.no-cuenta{
  font-family: var(--fuentePrincipal);
}

.no-cuenta span{
  color: var(--primario);
  font-family: var(--fuenteExtraBold);
}

.boton{
  background-color: var(--primario);
  padding: 1rem 4.6rem;
  border-radius: 6px;
  color: var(--blanco);
  font-family: var(--fuenteBold);
  font-size: 2.2rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border: none;
  text-align: center;
}


.boton:hover{
  background-color: var(--hover);
  transition: all 0.3s;
  cursor: pointer;
}

.boton--secundario{
  background-color: var(--secundario);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.boton--secundario:hover{
  background-color: var(--primario);
  transition: all 0.3s;
  cursor: pointer;
}

.cantidad{
  width: 5rem;
  height: 4rem;
  padding: 0 0 0 1rem;
}

.cantidad::-webkit-inner-spin-button{
  opacity: 1;
  height: 4rem;
}

@media (max-width: 480px) {  
  .boton{
      width: 100%;
  }
}

.efecto-scroll{
  opacity: 1;
  transition: all 1.5s;
}

.scroll-Arriba{
  animation: mostrarArriba 2s;
}

.scroll-derecha{
  animation: mostrarDerecha 2s;
}

.scroll-izquierda{
  animation: mostrarIzquierda 2s;
}

@keyframes mostrarArriba{
  0% {
      transform: translateY(3rem);
  }

  100% {
      transform: translateY(0);
  }
}
/*
@keyframes mostrarDerecha{
  0% {
      transform: translateX(10rem);
  }

  100% {
      transform: translateX(0);
  }
}

@keyframes mostrarIzquierda{
  0% {
      transform: translateX(-10rem);
  }

  100% {
      transform: translateX(0);
  }
}
*/

/*eliminar carrito*/

.producto-carrito__eliminar{
  height: 3.2rem;
  width: 3.2rem;
}

.producto-carrito__eliminar img{
  width: 100%;
  height: 100%;
}