#Ignorar la carpeta de dependencias de Chart.js
node_modules
#Ignorar los archivos generados por Chart.js
/dist/


#Ignorar los archivos de configuración de específicos
chart.config.js

# Ignorar la carpeta de caché de Parcel
.parcel-cache/
.cache/

